@import "tailwindcss";

@theme {
  --color-primary: #84BDD9;
  --color-secondary: #DDECF5;
  --color-tertiary: #38728A;
  --color-red: #ff7171;
}

:root {
  scroll-behavior: smooth;
}
.bg-paquete{
 background-image: url("/bg-paquete.png");
 background-position: center;
 background-repeat: no-repeat;
 
}

.periodo::after{
  background: inherit;
  position: absolute;
  content: "";
  filter: blur(25px) saturate(1.5);
  width: 100%;
  height: 100%;
  scale: 2;
  z-index: -1;
}